body {
   background-color: goldenrod;
   margin: 0;
   padding: 0;  
   overflow: hidden;

}


h1 {
   text-align: center;
   font-size: 70px;
   color: oldlace;
}

p {
   margin: 10px;
   width : 11.5%;
}
p:hover {
   background-color: red;
   width: 11.5%;
   border-radius: 15%;
}

#container {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   flex-wrap: nowrap;
}

div {
   padding: 27px;
   font-size: 30px;
   width: 10%;
   
}

.inst:hover {
   background-color: red;
   width: 10%;
   border-radius: 15%;
}

#marigaux {
   color: aqua;
}
#loree {
   color: blueviolet;
}
#rigoutat {
   color: bisque;
}
#dupin {
   color: chartreuse;
}

